$size: 50px;

.Container {
    background-color: #f7f7f7;
    width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Word {
    display: inline-flex;
    transform: translate($size * 0.7, 0) rotateX(-30deg) rotateY(45deg);
    transform-style: preserve-3d;
}
